# Harris County Home Price Estimations

In [22]:
import sqlite3

import pandas as pd
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import GridSearchCV

In [2]:
con = sqlite3.connect('HouseProtestValues.db')

sql_query = '''SELECT  br.acct,
                       br.bld_num,
                       br.dscr,
                       br.date_erected,
                       br.yr_remodel,
                       br.im_sq_ft,
                       br.gross_ar,
                       br.base_ar,
                       ra.land_ar,
                       br.perimeter,
                       br.size_index,
                       ra.school_dist,
                       ra.land_val,
                       ra.bld_val,
                       ra.assessed_val,
                       ra.tot_appr_val,
                       ra.tot_mkt_val
            FROM building_res as br
            LEFT JOIN real_acct as ra ON br.acct = ra.acct
            WHERE br.impr_tp = 1001 AND br.property_use_cd = 'A1' AND br.date_erected > 10;'''

building_data = pd.read_sql_query(sql_query, con)

building_data[['acct', 'dscr', 'school_dist']] = building_data[
    ['acct', 'dscr', 'school_dist']].astype('category')

In [3]:
# Story Height Index: STY
# Room: Bedroom: RMB
# Room: Full Bath: RMF
# Room: Half Bath: RMH
# Room: Total: RMT
fixtures_sql = """SELECT *
                  FROM "fixtures"
                  WHERE type IN ('STY', 'RMB','RMF','RMH','RMT')
                """
fixtures = pd.read_sql_query(fixtures_sql, con)
fix_pt = fixtures.pivot_table(index=['acct', 'bld_num'], columns='type', values='units', aggfunc='sum')
fix_pt = fix_pt.reset_index()
fix_pt.fillna(0, inplace=True)

In [4]:
all_df = pd.merge(building_data, fix_pt, on=['acct', 'bld_num'], how='left')
all_df.dropna(inplace=True)

In [5]:
print(f"All Data{all_df.shape}")

All Data(1121460, 22)

In [6]:
x_categorical = ['dscr', 'school_dist']
x_continuous = ['date_erected', 'yr_remodel', 'im_sq_ft',
                'gross_ar', 'base_ar', 'land_ar', 'perimeter', 'size_index',
                'RMB', 'RMF', 'RMH', 'RMT', 'STY']
y = all_df['assessed_val']
print(f"x_categorical{all_df[x_categorical].shape} | x_continuous {all_df[x_continuous].shape} | y {y.shape}")

x_categorical(1121460, 2) | x_contimuous (1121460, 13) | y (1121460,)

In [7]:
all_df[x_categorical].head()

      dscr school_dist
0     Good       01
1     Good       01
2      Low       01
3     Good       01
4  Average       01

In [8]:
# initialize the OneHotEncoder
encoder = OneHotEncoder(drop='first')

#Fit and transform the categorical columns
encoded = encoder.fit_transform(all_df[x_categorical])

df_results = pd.DataFrame.sparse.from_spmatrix(encoded)
df_results.columns = encoder.get_feature_names_out(x_categorical)
df_results.shape

(1121460, 30)

In [9]:
df_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1121460 entries, 0 to 1121459
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   dscr_Excellent     1 non-null      Sparse[float64, 0]
 1   dscr_Good          1 non-null      Sparse[float64, 0]
 2   dscr_Low           1 non-null      Sparse[float64, 0]
 3   dscr_Superior      1 non-null      Sparse[float64, 0]
 4   dscr_Very Low      1 non-null      Sparse[float64, 0]
 5   school_dist_01     1 non-null      Sparse[float64, 0]
 6   school_dist_02     1 non-null      Sparse[float64, 0]
 7   school_dist_03     1 non-null      Sparse[float64, 0]
 8   school_dist_04     1 non-null      Sparse[float64, 0]
 9   school_dist_05     1 non-null      Sparse[float64, 0]
 10  school_dist_06     1 non-null      Sparse[float64, 0]
 11  school_dist_07     1 non-null      Sparse[float64, 0]
 12  school_dist_08     1 non-null      Sparse[float64, 0]
 13  school_dist_09     1 non-null      Sparse[float64, 0]
 14  school_dist_15     1 non-null      Sparse[float64, 0]
 15  school_dist_16     1 non-null      Sparse[float64, 0]
 16  school_dist_17     1 non-null      Sparse[float64, 0]
 17  school_dist_18     1 non-null      Sparse[float64, 0]
 18  school_dist_19     1 non-null      Sparse[float64, 0]
 19  school_dist_20     1 non-null      Sparse[float64, 0]
 20  school_dist_21     1 non-null      Sparse[float64, 0]
 21  school_dist_23     1 non-null      Sparse[float64, 0]
 22  school_dist_24     1 non-null      Sparse[float64, 0]
 23  school_dist_25     1 non-null      Sparse[float64, 0]
 24  school_dist_26     1 non-null      Sparse[float64, 0]
 25  school_dist_27     1 non-null      Sparse[float64, 0]
 26  school_dist_28     1 non-null      Sparse[float64, 0]
 27  school_dist_29     1 non-null      Sparse[float64, 0]
 28  school_dist_30     1 non-null      Sparse[float64, 0]
 29  school_dist_31     1 non-null      Sparse[float64, 0]
dtypes: Sparse[float64, 0](30)
memory usage: 18.0 MB

In [10]:
# Free up memory
building_data = None
fix_pt = None
fixtures = None

In [11]:
# Reset index of both dataframes
all_df.reset_index(drop=True, inplace=True)
df_results.reset_index(drop=True, inplace=True)

# Merge the encoded data and continuous data together
encoded_features = pd.concat([all_df[x_continuous], df_results], join='inner', axis=1)

In [12]:
encoded_features.shape

(1121460, 43)

In [13]:
# sns.histplot(data=all_df, x="assessed_val")

In [14]:
# sns.histplot(data=all_df, x="assessed_val", log_scale=True)

In [15]:
# sns.pairplot(data=all_df, vars=['assessed_val', 'date_erected', 'im_sq_ft', 'school_dist', 'Neighborhood_Code'])

In [16]:
# sns.pairplot(data=all_df, vars=['assessed_val', 'land_ar', 'RMB', 'RMF', 'RMH', 'STY'])

In [17]:
print(f"Encoded features{encoded_features.shape} | All Data{all_df.shape} | Results {df_results.shape} | y {y.shape} ")

Encoded features(1121460, 43) | All Data(1121460, 22) | Results (1121460, 30) | y (1121460,)

In [18]:
x_train, x_test, y_train, y_test = train_test_split(encoded_features, y, test_size=0.4, random_state=42)

In [19]:
model = ExtraTreesRegressor(n_estimators=100, random_state=42)

In [20]:
model_fit = model.fit(x_train, y_train)

C:\Users\Blake\miniconda3\envs\HouseProtestValues\Lib\site-packages\sklearn\utils\validation.py:877: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

In [ ]:
cross_val_score(model_fit, x_train, y_train, scoring='accuracy', cv=5, n_jobs=-1).mean()

In [21]:
y_pred = model.predict(x_test)
print(f"Mean Squared Error: {mean_squared_error(y_test, y_pred)}")

C:\Users\Blake\miniconda3\envs\HouseProtestValues\Lib\site-packages\sklearn\utils\validation.py:877: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

Mean Squared Error: 31645615157.76855

In [ ]:
param_grid = {
    'n_estimators': [100, 250, 500],
    'min_samples_leaf': [5, 15, 25],
    'max_features': [10, 20, 30],
    'criterion': ['gini', 'entropy']
}

In [ ]:
etc2 = GridSearchCV(model_fit, param_grid,cv=3, n_jobs=-1)

In [ ]:
etc2.fit(x_train,y_train)

In [ ]:
etc2.best_params_

In [ ]:
etc2.best_score_